<nav class="navbar">
    <div class="navbar-inner">
        <a href="/" style="text-decoration:none">
            <h1 style="margin: 0 !important; font-size: 1.2em;">C. Allen Weng</h1>
        </a>

        <div class="navbar-links">
            <a href="/media-project">The Media Project</a>
            <a href="/inner-work">Path of Inner Work</a>
        </div>
    </div>
</nav>
