{%if settings.dgHomeLink === true%}
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                {% if meta.siteLogoPath %}
                    <img class="site-logo" src="{{meta.siteLogoPath}}" alt="{{meta.siteName}}">
                {% else %}
                    <h1 style="margin: 0 !important; font-size: 1.2em;">{{meta.siteName}}</h1>
                {% endif %}
            </a>

            <div class="navbar-links">
                <details class="garden-dropdown">
                    <summary class="garden-button">The Garden</summary>
                    <div class="dropdown-content">
                        <a href="/media-project/">The Media Project</a>
                        <a href="/inner-work/">Path of Inner Work</a>
                    </div>
                </details>
                {% if settings.dgEnableSearch === true%}
                    {% include "components/searchButton.njk" %}
                {%endif%}
            </div>
        </div>
    </nav>
{%else%}
    <div class="empty-navbar">
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
{%endif%}
